body {
  margin:0 auto;
  font-family: 'Courier New', Courier, monospace;
  max-width:1000px;
  background-color:#1E3231
  }

  nav{
    display: flex;
    justify-content: flex-end;
    background: #aaa;
    padding: 5px 0;
  }

  ul {
    display: flex;
    padding: 5px;
    list-style: none;
   
    
  }

