body {
  margin:0 auto;
  font-family: 'Courier New', Courier, monospace;
  max-width:1000px;
  background-color:#b0efec
  }

  nav{
    display: flex;
    justify-content: flex-end;
    background: #aaa;
    padding: 5px 0;
  }

  ul {
    display: flex;
    padding: 5px;
    list-style: none;
    margin-bottom: 0;
   
    
  }

  nav li {
    padding: 5px;
  }

  nav a {
    color: beige;
    padding: 5px;
  }

 